body {
  background-color: linen;
}

@media only screen and (min-width: 992px) {
  body {
    padding-top: 3rem;
  }
}

.menu-item {
  list-style-type: none;
  font-size: 2rem;
}

.menu-item a {
  text-decoration: none;
  color: grey;
}

.menu-item a:hover {
  color: #0099cc;
  transition: 0.1s;
}

.profile-picture {
    width: 30% !important;
}

@media only screen and (min-width: 768px) {
  .profile-picture {
    width: 40% !important;
  }
}